{% extends "index.html" %}

{%  block title %}
Sign up
{%  endblock %}

{%  block meta %}
<meta name="description" content="This is sign up page">
{%  endblock %}

{%  block css %}
<link rel="stylesheet" href="/static/css/auth.css">
{%  endblock %}

{%  block main %}
<div class="auth-container">
    <h1 class="auth-heading">Create Account</h1>
    <form method="POST" action="/sign-up">

        {%  if email_error.is_empty() %}
            <input type="text" placeholder="Enter your email" name="email" value="{{email}}">
        {%  else %}
            <input class="invalid-input-field animate_animated animate_shakeX" type="text" placeholder="Enter your email" name="email" value="{{email}}">
            <label>{{email_error}}</label>
        {%  endif %}

        {%  if password_error.is_empty() %}
            <input type="password" placeholder="Enter your password" name="password">
        {%  else %}
            <input class="invalid-input-field animate_animated animate_shakeX" type="password" placeholder="Enter your password" name="password">
            <label>{{password_error}}</label>
        {%  endif %}

        <button class="filled-button" type="submit">Submit</button>
    </form>
    <form method="GET" action="/log-in">
        <button>Already have account? Log in</button>
    </form>
</div>
{%  endblock %}