networks:
  localnet:
    driver: bridge
services:
  postgres:
    image: postgres:13
    restart: always
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
    volumes:
      - ./local-data/postgres:/var/lib/postgresql/data
    networks:
      - localnet