{% extends "index.html" %}

{%  block title %}
Sign up
{%  endblock %}

{%  block meta %}
<meta name="description" content="This is sign up page">
{%  endblock %}

{%  block css %}
<link rel="stylesheet" href="/static/css/auth.css">
{%  endblock %}

{%  block main %}
<div class="auth-container">
    <h1 class="auth-heading">Create Account</h1>
    <form method="POST" action="/sign-up">
        <input type="text" placeholder="Email" name="email">
        <input type="text" placeholder="Password" name="password">
        <button class="filled-button" type="submit">Submit</button>
    </form>
    <form method="GET" action="/log-in">
        <button>Already have account? Log in</button>
    </form>
</div>
{%  endblock %}